*{
    padding: 0px;
    margin: 0px ;
    text-decoration: none; 
}
/* menu button */
#menusfondo{
    margin-bottom: 10px;
    display: flex;
    margin: auto;
    width: 50%;
    padding: 20px;

}

#menutext{
    color: rgb(1, 8, 74);
    text-decoration: none;
    font-size: 200%;
    display: block;
}

#sfondobutton{
    background-color: #047294;
    margin: auto;
    width: 40%;
    padding: 20px;
    border-radius: 100px;

}

#flex{
    display: flex;
}

#titolo{
    color: rgb(1, 8, 74);
    text-decoration: none;
    font-size: 200%;
    margin: auto;
    width: 50%;
    padding: 10px;
}

#bordotra{
    background-color: #047294;
    color: rgb(1, 8, 74);
    border-style: dashed;
    margin: auto;
    width: 50%;
    padding: 4px;
    border-radius: 100px;
}
/* come nato progetto */
#text2{
    color: rgb(1, 8, 74);
    text-decoration: none;
    font-size: 200%;
    display: block;
    margin: 0px auto;
}
#sfondo2{
    background-color: #047294;
    margin: auto;
    width: 50%;
    padding: 4px;
    border-radius: 100px;
}


#colortext{
    color: rgb(0, 0, 0);
    margin: auto;
    width: 50%;
    padding: 10px;
    margin-top: 0px;
}

/* skills  social*/

#skills{
    background-color: #047294;
    color: rgb(1, 8, 74);
    border-style: dashed;
    border-radius: 100px;
    display: flex;
    margin: 30px auto;
    width: 50%;
    padding: 10px;
}

#social{
    background-color: #047294;
    color: rgb(1, 8, 74);
    border-style: dashed;
    border-radius: 100px;
    margin: 30px auto;
    width: 50%;
    padding: 10px;
}
/* dilitti di autore */
#support{
    background-color: #047294;
    color: rgb(1, 8, 74);
    border-style: dashed;
    border-radius: 100px;
    margin: 30px auto;
    width: 50%;
    padding: 10px;
}


#bottonbot {
    background-color: #047294;

    color: rgb(1, 8, 74);
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 0px 2px;
    cursor: pointer;
  }